<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro Timer</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Pomodoro Timer</h1>
  <form id="timer-form">
    <input type="number" id="timer-input" required>
    <button id="start-button">Start</button>
    <button id="stop-button">Stop</button>
    <button id="reset-button" type="reset">Reset</button>
  </form>
  <div id="countdown-display"></div>
  <script src="/js/main.js"></script>
</body>
</html>
