<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro Timer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Pomodoro Timer</h1>
  <form id="timer-form">
    <input type="number" id="timer-input" required>
    <button type="submit">Set Timer</button>
  </form>
  <button id="start-button">Start</button>
  <script src="/js/main.js"></script>
</body>
</html>
